.area{
  background-color: #ffffff;
  transition: all .2s ease-in-out;
  overflow: hidden;

  &.collapse{
    height: 50px;
  }
  &__header{
    display: grid;
    grid-template-columns: 35% repeat(7,1fr);
    padding:.5rem 0;

    &--control{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: .5rem 0;

      &--first{
        display: flex;
        align-items: center;
        flex-grow: 1;
        div{
          flex-grow: 1;
          h5{
            margin-bottom: 0.5rem;
          }
        }
      }
    }
  }


}
